<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 border-bottom">
        <h5 class="my-0 mr-md-auto font-weight-normal">Blog</h5>
        <nav class="d-inline-flex mt-2 mt-md-2 ms-md-auto">
            <a class="p-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="p-2 text-dark text-decoration-none" href="/blog">Блог</a>
            <a class="p-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
            <a class="p-2 text-dark text-decoration-none" href="/about">О нас</a>
        </nav>
    </div>
</div>